---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - finops.acasa.acme
  resources:
  - projectbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - finops.acasa.acme
  resources:
  - projectbudgets/finalizers
  verbs:
  - update
- apiGroups:
  - finops.acasa.acme
  resources:
  - projectbudgets/status
  verbs:
  - get
  - patch
  - update
